<head><%= stylesheet_link_tag 'iframe' %></head>

<% @current.each do |current| %>
<div class="<%= cycle("odd", "even") %>">

	<div id="iframe_listingWrapper">

	<h1>
	<%= current.title %>
	<span class="category">
	<%= current.category %>
	</span>
	</h1>
	
	<% if current.artist? %>
	<p class="artist">
	<%= current.artist %></p>
	<% end %>
	
	<p class="details">
	<b>Until</b> <%= current.closedate.strftime("%a %d %B %y") %> | 
	<%= current.location %> 
	</p>
		
	<%= link_to "More information", 
				{:controller => "pages", :action => "event",
				:id => current}, :target => '_top' %>
	</div>
</div>
	<% end %>