<head><%= stylesheet_link_tag 'iframe' %></head>

	<% @articles.each do |article| %>
	<div class="<%= cycle("odd", "even") %>">

	<div id="iframe_listingWrapper">
	
		<h1>
		<%= article.title %>
		<span class="category">
		<%= article.category %>
		</span>
		</h1>
	
		<p class="details">	
		<%= link_to "Read article", {:controller => "pages",
				:action => "article", :id => article}, :target => '_top' %> |
		<%= article.created_at.strftime("%A %d %B %y") %>
		</p>

	</div>
	</div>	
	<% end %>
	

