<head><%= stylesheet_link_tag 'iframe' %></head>

<!-- Upcoming events -->	
	<% @future.each do |event| %>
	<div class="<%= cycle("odd", "even") %>">
		
		<div id="iframe_listingWrapper">
		<h1>
		<%= event.title %>
		<span class="category">
		<%= event.category %>
		</span>
		</h1>
	
		<% if event.artist? %>
		<p class="artist"><%= event.artist %></p>
		<% end %>
	
		<p class="details">
		<%= event.opendate.strftime("%a %d %B %y") %> |
		<%= event.location.first(60) %>
		</p>
		
		<%= link_to "More information", 
   					{:controller => "pages", :action => "event",
   					:id => event}, :target => '_top'	 %>
		</div>
	</div>
	<% end %>