<div id="footColumnOne">
<p>We are looking for a website sponsor. You or your organisation would advertise products or services that would benifit our members. Sponsorship is sought for 3 month periods and would be alternated with our other partners. Please email expressions of interest to <a href="mailto:support@hunterartsnetwork.org">Support</a></p></div>

<div id="footColumnTwo">
	<%= render :partial => "foot/foot_column_two" %>
</div>

<div id="footColumnThree">
	<%= render :partial => "foot/foot_column_three" %>
</div>

<div id="footColumnFour">
	<%= render :partial => "foot/foot_column_four" %>
</div>

<div id="footColumnFive">
	<%= render :partial => "foot/foot_column_five" %>
</div>

<div id="footColumnSix">
	<%= render :partial => "foot/foot_column_six" %>
</div>