<div id="eventArchive">
	
	<h1>Events</h1>
	
	<%= render :partial => "pages/events/current" %>
	<%= will_paginate @current %>
	
	<%= render :partial => "pages/events/future" %>
	<%= will_paginate @future %>
	
	<%= render :partial => "pages/events/past" %>
	<%= will_paginate @past %>
	
</div>