<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<%= render :partial => "meta_data/meta_data_home" %>
</head>
<body>
	
	<div id="wrapper">

	<div id="head">
		<div id="quickNavi">
			<%= render :partial => 'navigation/navi_switch' %>
		</div>
	</div>

	<%= render :partial => "alerts/home_alert_one" %>
  	
  	<!-- middle -->	
	<div id="middle">				
		<div id="middleColumnOne">
  			<%= render :partial => 'home/middle_column_one' %>
  		</div>
			  
		<div id="middleColumnTwo">
			<%= render :partial => 'home/middle_column_two' %>
  		</div>
			  
		<div id="middleColumnThree">
			<%= render :partial => 'home/middle_column_three' %>
  		</div>
  	</div>

	<%= render :partial => "alerts/disclaimer" %>
	
	<!-- foot -->
	<div id="foot">
		<%= render :partial => "foot/foot_collect" %>
	</div>
	
	<div id="developer">
		<%= render :partial => "developer/developer_details" %>
	</div>

<%= render :partial => "meta_data/google_analytics" %>
</body>
</html>