<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<%= render :partial => "meta_data/meta_data_page" %>
</head>
<body>

	<div id="wrapper">
	
	<div id="head">
		<div id="quickNavi">
			<%= render :partial => 'navigation/navi_switch' %>
		</div>
	</div>
			
	<!-- Page: for content and sidebar -->
	<div id="page">
  		<div id="content">
  			<% if flash[:notice] then %>
  			<p class="flash"><%= flash[:notice] %></p>
  			<% elsif flash[:error] %>
  			<p class="error"><%= flash[:error] %></p>
  			<% else %>
  			<% end %>
			<!-- yield content -->
			<%= yield %>
		</div>
		
		<div id="sidebar">
		 	<%= render :partial => "navigation/quicklinks" %>
		 	<%= render :partial => "member/profile/markdown" %>        		
		</div>
	</div>
	
	<!-- foot -->
	<div id="foot">
		<%= render :partial => "foot/foot_collect" %>
	</div>
	
	<div id="developer">
		<%= render :partial => "developer/developer_details" %>
	</div>
	
	<!-- end wrapper -->
	</div>

	<%= render :partial => "meta_data/google_analytics" %>
</body>
</html>